@mixin account_mixin {
    .account_nav {
		position: absolute;
		right: 0;
    	//@include span(6 last);
    	width:auto;
        li {
        	margin: .5em; 
            //height: 60px;
            a{
            	&:hover {
            		color:white;
            		background-color: black;
            	}
            }
        }
    }
}
