
.icon-bell:before { content: '\e800'; } /* '' */
.icon-bell-alt:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e807'; } /* '' */
.icon-left-dir:before { content: '\e808'; } /* '' */
.icon-right-dir:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-angle-right:before { content: '\e80e'; } /* '' */
.icon-angle-up:before { content: '\e80f'; } /* '' */
.icon-angle-down:before { content: '\e810'; } /* '' */
.icon-newspaper:before { content: '\e811'; } /* '' */
.icon-doc-new:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-doc-text:before { content: '\e814'; } /* '' */