.cv {
	text-align: center;
    float: left;
    padding: .8em;
    margin: 1em;
    //border: 1px solid;
    border: 1px solid rgba(0,0,0,.2);

    background: rgba(128,128,128,.1);
    font-family: $WorkSans-Light;
    //&:first-of-type {
    	margin-left: 0;
    //}
    [class*=" icon-"]:before, [class^=icon-]:before {
        font-size: 7em;
        margin-bottom: .1em;
    }
    
    .title {

    }

    p{
        //text-align: center;
    }
}